.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  font-family: "Helvetica", sans-serif;
  background-color: #e3e3e3;
  padding: 32px;
}

summary {
  list-style: none;
  border-bottom: 4px solid rgb(0, 29, 91);
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  padding: 19px;
  margin-top: 24px;
  cursor: pointer;
  background-color: #fff;
}

summary::after {
  content: '▼';
  padding-right: 24px;
  font-size: 24px;
  color: rgb(0, 29, 91);
}

details[open] summary:after {
  content: '▲';
  color: white;
}

details[open] summary {
  background-color: rgb(0, 29, 91);
  color: white;
  border-bottom: none;
  border-radius: 10px;
}

li {
  font-size: 22px;
  line-height: 28px;
  padding: 8px 16px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.artist-image {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 32px;
  align-items: center;
  margin-top: 48px;
}

img {
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
}

.drop-down {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 32px;
}

.drop-down h2 {
  margin: 0 auto 24px auto;
  font-size: 32px;
  text-align: center;
  color: rgb(0, 29, 91);
}

.artist-name {
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
}